:root {
  --card: #2c2c2c;
  --border: #3a3a3a;
  --text-muted: #adb5bd;
}

/* Layout geral */
div {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--card);
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.header-nav {
  display: flex;
  gap: 12px;
}

.nav-link {
  padding: 6px 10px;
  border-radius: 6px;
  color: var(--text-muted);
  transition: 0.2s;
}

.nav-link:hover {
  background-color: #3a3a3a;
  color: white;
}

.nav-link.ativo {
  background-color: var(--primary);
  color: white;
}

/* FOOTER */
footer {
  margin-top: 20px;
  text-align: center;
  color: var(--text-muted);
}

/* LISTA DE HÁBITOS */
.habit-card {
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.habit-card h3 {
  font-size: 18px;
}

.habit-card small {
  color: var(--text-muted);
}

.habit-card span {
  font-size: 14px;
}

/* AÇÕES DO CARD */
.habit-card-acoes {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* BOTÕES */
button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: var(--primary-hover);
}

/* BOTÃO DE DETALHES */
.btn-detalhes {
  background-color: transparent;
  border: 1px solid var(--primary);
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--primary);
  transition: 0.2s;
}

.btn-detalhes:hover {
  background-color: var(--primary);
  color: white;
}
